{% extends "theme.html" %}
{% load bootstrap %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 card-bg">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|bootstrap }}
                    <button class="btn btn-primary">Login</button>
                    <a href="{% url 'password-reset' %}" class="btn btn-primary">Forgot Password?</a>
                </form>
                <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
                <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
            </div>
        </div>
    </div>
{% endblock%}