# MacOS
.DS_Store
.idea/
*.icloud

# Python
__pycache__/
venv/
*.pid
*.log

# Django
static/
!scheduler/static/
media/
migrations/
db.sqlite3*
secrets.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml