Django
Pillow
djangorestframework
django-bootstrap-form
django-gravatar2
social-auth-app-django
django-meta
django-font-awesome
django-celery-results
django-celery-beat
requests-html
requests
beautifulsoup4
html5lib
psycopg2-binary
regex
celery[sqs]
celery-progress