Django
Pillow
djangorestframework
django-bootstrap-form
django-gravatar2
social-auth-app-django
django-meta
django-font-awesome
celery[sqs]
django-celery-beat
django-celery-results
celery-progress
requests-html
requests
beautifulsoup4
html5lib
psycopg2-binary
regex
gunicorn
whitenoise