beautifulsoup4==4.9.3
celery-progress==0.0.14
celery[sqs]==5.0.5
django-bootstrap-form==3.4
django-celery-beat==2.2.0
django-celery-results==2.0.1
django-debug-toolbar==3.2.1
django-font-awesome==4.6.1
django-gravatar2==1.4.4
django-meta==2.0.0
Django==3.1.6
djangorestframework==3.12.2
gunicorn==20.0.4
html5lib==1.1
Pillow==8.1.0
psycopg2-binary==2.8.6
regex==2020.11.13
requests-html==0.10.0
requests==2.25.1
social-auth-app-django==4.0.0
whitenoise==5.2.0
