{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Contact | ITU Scheduler{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
                <h4>You can contact us regarding bugs, feature requests, etc...</h4><br>
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <br>
    </div>
    <script>
        $(document).ready(function() {
            {% if successful %}
                alert("Your message is sent!");
            {% endif %}
        });
    </script>
{% endblock %}
