{% extends "theme.html" %}

{% block title %}Courses | ITUscheduler{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2 class="panel-title">Courses</h2>
                </div>
                <div class="panel-body">
                    <form>
                        <select class="form-control" name="course_code" onchange="redirect(this.form.course_code)" title="course_code">
                            {% for option in course_codes %}
                                <option {% if option.code in request.path %}selected{% endif %} value="{{ option }}">{{ option }} </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    {% if request.user.is_authenticated %}
                                        <th>My Schedule</th>
                                    {% endif %}
                                    <th>CRN</th>
                                    <th>Course Code</th>
                                    <th>Title</th>
                                    <th>Instructor</th>
                                    <th>Building</th>
                                    <th>Day</th>
                                    <th>Time</th>
                                    <th>Room</th>
                                    <th>Capacity</th>
                                    <th>Major Restriction</th>
                                    <th>Prerequisites</th>
                                    <th>Class Restriction</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in courses %}
                                    <tr>
                                        {% if request.user.is_authenticated %}
                                            <td>
                                                <label>
                                                    <input class="checkbox-inline" {% if course.crn in my_courses %}checked {% endif %}onchange="addCourse({{course.crn}})" type="checkbox">
                                                </label>
                                            </td>
                                        {% endif %}
                                        <th>{{ course.crn }}</th>
                                        <td>{{ course.code }}</td>
                                        <td>{{ course.title }}</td>
                                        <td>{{ course.instructor }}</td>
                                        <td>{% for lecture in course.lecture_set.all %}{{ lecture.building }}<br>{% endfor %}</td>
                                        <td>{% for lecture in course.lecture_set.all %}{{ lecture.day }}<br>{% endfor %}</td>
                                        <!--<td>{{ course.times|join:"<br>" }}</td>-->
                                        <td>{% for lecture in course.lecture_set.all %}{{ lecture.time_str_tuple|join:"/" }}<br>{% endfor %}</td>
                                        <td>{% for lecture in course.lecture_set.all %}{{ lecture.room }}<br>{% endfor %}</td>
                                        <td>{{ course.enrolled }}/{{ course.capacity }}</td>
                                        <td>{{ course.major_restriction.all|join:"<br>"|truncatechars:40 }}</td>
                                        <td>{{ course.prerequisites.all|join:"<br>" }}</td>
                                        <td>{{ course.class_restriction }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Latest Database Refresh: {{ refreshed }}</p>
        </div>
    </div>
</div>
<script>
    function redirect(selected) {
        location.href = "/courses/" + selected.options[selected.selectedIndex].value;
    }
    function addCourse(courseCrn) {
        $.post(
            "{% url "add_course" %}",
            {
                "course_crn": parseInt(courseCrn),
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            function(response) {
                var isSuccessful = response["successful"];
                if (!isSuccessful) {
                    alert("Error: " + response["error"] + "\nMy Courses: " + response["courses"]);
                }
            },
            "json"
        )
    }
</script>
{% endblock %}