{% extends "theme.html" %}

{% block title %}Courses | ITUscheduler{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"> <!-- Detailed search section -->
                <h3>Find  the exact course you want</h3><br>
                <form action="{{ request.path }}" method="GET">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <select class="form-control" name="search_course" onchange="getCodesForSearch(this.form.search_course)">
                                <option value="all">Major Codes</option>
                                {% for course in course_codes %}
                                    <option value="{{ course }}">{{ course }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12" id="select_search_codes">
                            <select class="form-control" name="search_code">
                                <option value="all">Course Codes</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 col-xs-12" id="select_search_days">
                            <select class="form-control" name="search_day">
                                <option value="all">Days</option>
                                <option value="Pazartesi">Monday</option>
                                <option value="Salı">Tuesday</option>
                                <option value="Çarşamba">Wednesday</option>
                                <option value="Perşembe">Thursday</option>
                                <option value="Cuma">Friday</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <input type="submit" value="Get me these" class="btn btn-primary">
                        </div>
                    </div>
                </form>
                <br>
                {% if unaccepted %}
                    <div class="alert alert-danger">Cannot get all the courses at once.</div>
                {% else %}
                    {% if searched_course or searched_code or searched_day %}
                        <div class="alert alert-info">For <strong>{{ searched_course }}</strong> courses, you are looking for courses with code <strong>{{ searched_code }}</strong> on day <strong>{{ searched_day }}</strong></div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h2 class="panel-title">Courses</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <form>
                                    <select class="form-control" name="course_code" onchange="redirect(this.form.course_code)" title="course_code">
                                        {% for option in course_codes %}
                                            {% if not searched_course or searched_course == "all" %}
                                                <option {% if option.code in request.path %}selected{% endif %} value="{{ option }}">{{ option }} </option>
                                            {% endif %}
                                            {% if searched_course %}
                                                <option {% if option.code == searched_course %}selected{% endif %} value="{{ option }}">{{ option }} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <form>
                                    <select class="form-control" name="code" onchange="redirectGet(this.form.code)">
                                        {% if query %}
                                            <option value="{{ query }}">{{ query }}</option>
                                        {% else %}
                                            <option value="">Please select a code below.</option>
                                        {% endif %}
                                        {% for code in codes %}
                                            <option value="{{ code }}">{{ code }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        {% if request.user.is_authenticated %}
                                            <th>My Courses</th>
                                        {% endif %}
                                        <th>CRN</th>
                                        <th>Course Code</th>
                                        <th>Title</th>
                                        <th>Instructor</th>
                                        <th>Building</th>
                                        <th>Day</th>
                                        <th>Time</th>
                                        <th>Room</th>
                                        <th>Capacity</th>
                                        <th>Major Restriction</th>
                                        <th>Prerequisites</th>
                                        <th>Class Restriction</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in courses %}
                                        <tr>
                                            {% if request.user.is_authenticated %}
                                                <td>
                                                    <label>
                                                        <input class="checkbox-inline" {% if course.crn in my_courses %}checked {% endif %}onchange="addCourse({{course.crn}})" type="checkbox">
                                                    </label>
                                                </td>
                                            {% endif %}
                                            <th>{{ course.crn }}</th>
                                            <td>{{ course.code }}</td>
                                            <td>{{ course.title }}</td>
                                            <td>{{ course.instructor }}</td>
                                            <td>{% for lecture in course.lecture_set.all %}{{ lecture.building }}<br>{% endfor %}</td>
                                            <td>{% for lecture in course.lecture_set.all %}{{ lecture.day }}<br>{% endfor %}</td>
                                            <!--<td>{{ course.times|join:"<br>" }}</td>-->
                                            <td>{% for lecture in course.lecture_set.all %}{{ lecture.time_str_tuple|join:"/" }}<br>{% endfor %}</td>
                                            <td>{% for lecture in course.lecture_set.all %}{{ lecture.room }}<br>{% endfor %}</td>
                                            <td>{{ course.enrolled }}/{{ course.capacity }}</td>
                                            <td><a href="javascript:alert('Major Restrictions: {{ course.major_restriction.all|join:", " }}{{ major }}')">{{ course.major_restriction.all|join:"<br>"|truncatechars:40 }}</a></td>
                                            <td>{{ course.prerequisites.all|join:"<br>" }}</td>
                                            <td>{{ course.class_restriction }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Latest Database Refresh: {{ refreshed }}</p>
            </div>
        </div>
    </div>
    <script>
        function redirect(selected) {
            location.href = "/courses/" + selected.options[selected.selectedIndex].value;
        }

        function redirectGet(selected){
            location.href = "/courses/{{ object }}" + "?query=" + selected.options[selected.selectedIndex].value;

        }

        function addCourse(courseCrn) {
            $.post(
                "{% url "add_course" %}",
                {
                    "course_crn": parseInt(courseCrn),
                    "csrfmiddlewaretoken": getCookie('csrftoken')
                },
                function(response) {
                    var isSuccessful = response["successful"];
                    if (!isSuccessful) {
                        alert("Error: " + response["error"] + "\nMy Courses: " + response["courses"]);
                    }
                },
                "json"
            )
        }

        function getCodesForSearch(selected){
            var Course_code = selected.options[selected.selectedIndex].value;
            console.log(Course_code)

            var codes = [];

            $.ajax({

                url: "/rest-api/courses/" + Course_code,
                type: "GET",

                success: function(data){
                    $.each(data, function(index, value){
                        if($.inArray(value.code, codes) === -1){
                            codes.push(value.code);
                        }
                    });

                    var html = "<select class='form-control' name='search_code'>\n<option value='all'>All</option>";

                    $.each(codes, function(index, value){
                        html += "<option value='" + value + "'>" + value + "</option>";
                    });

                    html += "</select>";

                    $("#select_search_codes").html(html);

                },
                error: function(error){
                    console.log(error);
                }

            });
        }
    </script>
{% endblock %}