{% extends "theme.html" %}
{% load bootstrap %}

{% block title %}ITU Scheduler{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">My Courses</h2>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="panel-body">
                            <form action="" method="POST" id="courses_form">
                                {% csrf_token %}
                                {{ form|bootstrap }}
                                <div class="col-md-2">
                                    <button class="btn btn-primary" name="save">New Schedule</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary" id="addToSchedule">Add To Schedule{% if user.my_schedule %} #{{ user.my_schedule.id }}{% endif %}</button>
                                </div>
                                <div class="col-md-8">
                                    <small>1) Add all relevant courses from the <a href="{% url "courses" slug="BLG" %}">Courses page</a> and come back here.</small><br><small>2) Hold CTRL, CMD or SHIFT (or drag with the mouse) to select courses.</small>
                                </div>
								<div class="col-md-12">
									{% if messages %}
                                   		{% for message in messages %}
                                       		<div class="alert alert-danger" style="margin-top: 20px;">
                                           		{{ message }}
                                       		</div>
                                		{% endfor %}
                               		{% endif %}
								</div>
                            </form>
                            {% if user.my_schedule %}
                                <div class="row">
                                    <div class="col-md-12" style="margin-top: 20px;">
                                        <label class="control-label" for="selected-courses">Courses of the selected schedule [Schedule #{{ selected_schedule.id }}]</label>
                                        <ul class="list-group" id="selected-courses">
                                            {% for course in my_courses %}
                                                <li class="list-group-item">{{ course }} <a href="javascript:removeCourse({{ course.crn }})">Remove</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <ul class="list-group">
                            <li class="list-group-item">Please <a href="{% url "signup" %}">Signup</a> or <a href="{% url "login" %}">Login</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">My Schedules</h2>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="panel-body">
                            <div class="row">
                                <div style="margin-bottom: 10px;" class="col-md-3 col-xs-12">
                                    <form>
                                    <select id="schedule" class="form-control" name="schedule" onchange="redirect(this.form.schedule)" title="schedule">
                                        {% for schedule in schedules %}
                                            <option {% if schedule == selected_schedule %}selected{% endif %} value="{{ schedule.id }}">Schedule #{{ schedule.id }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-12">
                                            <input title="delete-schedule" class="btn btn-primary" value="Delete Schedule{% if user.my_schedule %} #{{ user.my_schedule.id }}{% endif %}" onclick="deleteSchedule($('#schedule').find('option:selected').val())">
                                        </div>
                                        <div class="col-md-6 col-xs-9">
                                            <a href="javascript:var crn='{% for course in my_courses %}{{ course.crn }}, {% endfor %}';crn=crn.split(', ');  for(var i=0;i<crn.length-1;i++){var object_will_be_placed=document.getElementById('crn_id'+(i+1));object_will_be_placed.value=parseInt(crn[i])}" class="btn btn-block btn-primary">Fill CRNs</a>
                                        </div>
                                        <div class="col-md-3 col-xs-3">
                                            <a href="javascript:alert('Drag and Drop Fill CRNs button to bookmarks/favourites bar! Then on the course registration page (ITU SIS) click the bookmark to fill your CRNs.')">[ ? ]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Hours</th>
                                            <th>Monday</th>
                                            <th>Tuesday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for hour in hours %}
                                            <tr id="{{ hour.time|slugify }}">
                                                <th>{{ hour.time }}</th>
                                                <td id="{{ hour.time|slugify }}-{{ 1 }}"></td>
                                                <td id="{{ hour.time|slugify }}-{{ 2 }}"></td>
                                                <td id="{{ hour.time|slugify }}-{{ 3 }}"></td>
                                                <td id="{{ hour.time|slugify }}-{{ 4 }}"></td>
                                                <td id="{{ hour.time|slugify }}-{{ 5 }}"></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
                if("{{ selected_schedule }}") {
                    writeLectures();
                }
                var select = document.getElementById('id_courses');
                select.size = select.length;


                {% if request.user.is_authenticated %}
                $("#addToSchedule").click( function(e){
                   e.preventDefault();
                   var _data = $("#courses_form").serializeArray();
                   var _url= "{% url 'rest_api_scheduler:add_to_schedule' id=selected_schedule.id %}";
                   var empty = false;

                   if(_data[2]){
                       empty = true
                   }

                   if(empty){
                       $.ajax({
                       url: _url,
                       type: "POST",
                       data: _data,
                       success: function(data){
                           location.reload();
                       },
                       error: function(data){
                           alert("First you must create a new schedule.");
                           console.log(data);
                       }

                       });
                   }else{
                       alert('You must choose at least one course.');
                   }


                });
                {% endif %}

        });



        function idGenerator(start, finish, Ids) {
            var ids = Ids;
            if ((start - 1) === finish) {
                return ids
            } else {
                var id = "#" + start + "-" + (start + 99);
                ids.push(id);
                return idGenerator(start + 100, finish, ids);
            }
        }

        function writeLectures() {
            $.ajax({
                {% if not selected_schedule or not selected_schedule.id %}
                    {% with selected_id="0" %}
                        url: "{% url 'rest_api_scheduler:api_schedule_detail' pk=selected_id %}",
                    {% endwith %}
                {% else %}
                    url: "{% url 'rest_api_scheduler:api_schedule_detail' pk=selected_schedule.id %}",
                {% endif %}

                success: function(result) {
                    for(course in result.courses) {
                        for(lecture in result.courses[course].lectures){
                            c_lecture = result.courses[course].lectures[lecture];
                            c_course = result.courses[course];

                            if(c_lecture.time_start.toString().substring(2,) === "00"){
                                c_lecture.time_start = (c_lecture.time_start - 70);
                                c_lecture.time_finish = (c_lecture.time_finish + 70);
                            }

                            ids = [];
                            blocks = ((c_lecture.time_finish - c_lecture.time_start) % 99) + 1;
                            if(blocks === 1){

                                id = "#" + c_lecture.time_start + "-" + c_lecture.time_finish;
                                ids.push(id);


                            }
                            else{
                                //blocks = ((c_lecture.time_finish - c_lecture.time_start) % 99) + 1;
                                ids = idGenerator(c_lecture.time_start, c_lecture.time_finish, []);
                            }

                            for(Id in ids){
                                id = ids[Id];
                                if(c_lecture.day === "Pazartesi"){
                                    id += "-" + "1"
                                }
                                else if(c_lecture.day === "Salı"){
                                    id += "-" + "2"
                                }
                                else if(c_lecture.day === "Çarşamba"){
                                    id += "-" + "3"
                                }
                                else if(c_lecture.day === "Perşembe"){
                                    id += "-" + "4"
                                }
                                else if(c_lecture.day === "Cuma"){
                                    id += "-" + "5"
                                }

                                if(c_course.overlaps){
                                    $(id).css({'background-color': '#d9534f', 'color': 'white'});
                                }

                                $(id).html(c_course.title);

                            }
                        }
                    }
                }

            });
        }

        function removeCourse(Crn) {
            $.ajax({
                url: "{% url 'rest_api_scheduler:course_remove' %}",
                type: "POST",
                dataType:'json',
                data: {
                    "crn": Crn,
                    "csrfmiddlewaretoken": getCookie('csrftoken'),
                    "schedule_id": "{{ selected_schedule.id }}"
                },
                success: function(result) {
                    location.reload();
                },
                error: function(result) {
                    console.log(result);
                }
            });
        }


        function redirect(selected) {
            var scheduleId = selected.options[selected.selectedIndex].value;
            if (scheduleId) {
                $.post(
                    "{% url "select_schedule" %}",
                    {
                        "schedule_id": parseInt(scheduleId),
                        "csrfmiddlewaretoken": getCookie('csrftoken')
                    },
                    function(response) {
                        var isSuccessful = response["successful"];
                        if (!isSuccessful) {
                            alert("Error: " + response["error"]);
                        } else {
                            location.href = "/schedule/" + scheduleId;
                        }
                    },
                    "json"
                )
            }
        }

        function selectSchedule(scheduleId) {
            if (scheduleId == null) {
                alert("Create and select a schedule first.");
            } else {
                $.post(
                    "{% url "select_schedule" %}",
                    {
                        "schedule_id": parseInt(scheduleId),
                        "csrfmiddlewaretoken": getCookie('csrftoken')
                    },
                    function(response) {
                        var isSuccessful = response["successful"];
                        if (!isSuccessful) {
                            alert("Error: " + response["error"]);
                        } else {
                            alert("Your selected schedule: Schedule #" + response["scheduleId"]);

                        }
                    },
                    "json"
                )
            }
        }

        function deleteSchedule(scheduleId) {
            if (scheduleId == null) {
                alert("Create and select a schedule first.");
            } else {
                $.post(
                    "{% url "delete_schedule" %}",
                    {
                        "schedule_id": parseInt(scheduleId),
                        "csrfmiddlewaretoken": getCookie('csrftoken')
                    },
                    function(response) {
                        var isSuccessful = response["successful"];
                        if (!isSuccessful) {
                            alert("Error: " + response["error"]);
                        } else {
                            location.href = "/";
                        }
                    },
                    "json"
                )
            }
        }


    </script>
{% endblock %}
