{% extends "theme.html" %}
{% load bootstrap %}

{% block title %}ITU Scheduler{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">My Courses</h2>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="panel-body">
                            <form action="." method="POST">
                                {% csrf_token %}
                                {{ form|bootstrap }}
                                <button class="btn btn-primary">Generate Schedules</button>
                            </form>
                        </div>
                        <ul class="list-group">
                            {% for course in my_courses %}
                                <li class="list-group-item">{{ course }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="list-group">
                            <li class="list-group-item">Please <a href="{% url "signup" %}">Signup</a> or <a href="{% url "login" %}">Login</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">My Schedules</h2>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="panel-body">
                            <form style="display: inline-flex; width: 78%;">
                                <select id="schedule" class="form-control" name="schedule" onchange="redirect(this.form.schedule)" title="schedule">
                                    {% for schedule in schedules %}
                                        <option {% if schedule == selected_schedule %}selected{% endif %} value="{{ schedule.id }}">Schedule #{{ schedule.id }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                            <input title="select-schedule" style="display: inline-flex; float: right; width: 20%;" class="btn btn-primary" value="Select" onclick="selectSchedule($('#schedule').find('option:selected').val())">
                        </div>
                    {% endif %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Hours</th>
                                            <th>Monday</th>
                                            <th>Tuesday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for hour in hours %}
                                            <tr id="{{ hour.time|slugify }}">
                                                <th>{{ hour.time }}</th>
                                                <td>{{ hour.day.pazartesi }}</td>
                                                <td>{{ hour.day.salı }}</td>
                                                <td>{{ hour.day.çarşamba }}</td>
                                                <td>{{ hour.day.perşembe }}</td>
                                                <td>{{ hour.day.cuma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        function redirect(selected) {
            location.href = "/schedule/" + selected.options[selected.selectedIndex].value;
        }
        function selectSchedule(scheduleId) {
            if (scheduleId == null) {
                alert("Create and select a schedule first.");
            } else {
                $.post(
                    "{% url "select_schedule" %}",
                    {
                        "schedule_id": parseInt(scheduleId),
                        "csrfmiddlewaretoken": getCookie('csrftoken')
                    },
                    function(response) {
                        var isSuccessful = response["successful"];
                        if (!isSuccessful) {
                            alert("Error: " + response["error"]);
                        } else {
                            alert("Your selected schedule: Schedule #" + response["scheduleId"]);
                        }
                    },
                    "json"
                )
            }
        }
    </script>
{% endblock %}
