SECRET_KEY = 'SECRET KEY'

EMAIL_HOST = 'smtp.yandex.com'
EMAIL_HOST_USER = 'info@ituscheduler.com'
EMAIL_HOST_PASSWORD = 'PASSWORD'
EMAIL_USE_SSL = True
EMAIL_PORT = 465
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER

POSTGRES_NAME = 'NAME'
POSTGRES_USER = 'USER'
POSTGRES_PASSWORD = 'PASSWORD'
POSTGRES_HOST = 'localhost'
