container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput --settings ITUscheduler.settings.production"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ITUscheduler/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ITUscheduler.settings.production"