container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput --settings ITUscheduler.settings.production"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ITUscheduler/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ITUscheduler.settings.production"
  aws:elbv2:listener:443:
    ListenerEnabled: "true"
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-central-1:048826950968:certificate/7083815e-a46d-4731-85da-b3cb7030fcda
  aws:autoscaling:launchconfiguration:
    SecurityGroups: ITUscheduler