option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:autoscaling:launchconfiguration:
    SecurityGroups: ITUscheduler
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: "true"
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-central-1:048826950968:certificate/143461ec-3477-42af-9903-dbcb63b0944c
  aws:elasticbeanstalk:environment:process:https:
    Port: "443"
    Protocol: HTTPS