option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: ITUscheduler/wsgi.py
packages:
    yum:
        redhat-rpm-config: []
        python-devel: []
        python-pip: []
        python-setuptools: []
        python-wheel: []
        python-cffi: []
        libffi-devel: []
        cairo: []
        pango: []
        gdk-pixbuf2: []
