{
  "ITUscheduler": {
    "SECRET_KEY": "",
    "POSTGRES_HOST": "",
    "POSTGRES_NAME": "",
    "POSTGRES_PASSWORD": "",
    "POSTGRES_USER": "",
    "EMAIL_HOST": "",
    "EMAIL_HOST_USER": "",
    "EMAIL_HOST_PASSWORD": "",
    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_ACCESS_KEY": "",
    "AWS_DEFAULT_REGION": "",
    "SENTRY_DSN": "",
    "SOCIAL_AUTH_TWITTER_KEY": "",
    "SOCIAL_AUTH_TWITTER_SECRET": "",
    "SOCIAL_AUTH_FACEBOOK_KEY": "",
    "SOCIAL_AUTH_FACEBOOK_SECRET": ""
  }
}
