{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Info | ITU Scheduler{% endblock %}

{% block body %}
    <div class="container">
        <div class="row"> <!-- statistics and important info -->
            <div class="col-md-3 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Statistics</h3>
                    </div>
                    <div class="panel-body">
                        <h4>ITUscheduler has</h4>
                        <h4><strong>{{ user_count }}</strong> users</h4>
                        <hr>
                        <h4>Users have created</h4>
                        <h4><strong>{{ total_schedule_count }}</strong> schedules</h4>
                        <hr>
                        <h4>Number of courses removed from SIS</h4>
                        <h4><strong>{{ deleted_courses_count }}</strong> courses</h4>
                    </div>
                    <div class="panel-heading">
                        <h3>Latest Refresh</h3>
                    </div>
                    <div class="panel-body">
                        {% for course_code in refreshes %}
                            <p>{{ course_code.code }}: {{ course_code.refreshed }}</p>
                            {% if not forloop.last %}<hr>{% endif %}
                        {% endfor %}
                        <nav aria-label="Latest Refresh Pagination">
                            <ul id="paginator" class="pagination pagination-sm">
                                {% for object in refreshes.paginator.page_range %}
                                    <li class="page-item{% if object == refreshes.number %} active{% endif %}">
                                        <a class="page-link" href="{% url 'blog:index' %}?refresh_page={{ object }}#paginator">{{ object }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                {% for post in posts %}
                    <div class="media">
                        <div class="media-body">
                            <h5 class="media-heading">by <strong>{{ post.author }}</strong>, {{ post.date_created|timesince }} ago</h5>
                            <p>{{ post.content|safe }}</p>
                            {% if post.media %}
                                <img src="{{ post.media.url }}" class="img img-responsive img-rounded">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4 col-xs-12">
                <a class="twitter-timeline" data-height="1800" href="https://twitter.com/ITUscheduler?ref_src=twsrc%5Etfw">Tweets by ITUscheduler</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
{% endblock %}
