html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    overflow-wrap: break-word;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 60px;
    min-height: 100%;
}

.navbar {
    border-radius: 0;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    body {
        padding-bottom: 120px;
    }
}

.no-hover:hover, .no-hover:focus {
    background-color: transparent !important;
    color: white !important;
}
