<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/transitional.dtd">
<HTML lang="en">
<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META HTTP-EQUIV="Pragma" NAME="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" NAME="Cache-Control" CONTENT="no-cache">
    <LINK REL="stylesheet" HREF="http://ssb.sis.itu.edu.tr:9000/css/web_defaultapp.css" TYPE="text/css">
    <LINK REL="stylesheet" HREF="http://ssb.sis.itu.edu.tr:9000/css/web_defaultprint.css" TYPE="text/css" media="print">
    <TITLE>Add/Drop Classes: </TITLE>
    <META HTTP-EQUIV="Content-Script-Type" NAME="Default_Script_Language" CONTENT="text/javascript">
    <SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
        <!--
        Hide
        JavaScript
        from
        older
        browsers
        var submitcount = 0;

        function checkSubmit() {
            if (submitcount == 0) {
                submitcount++;
                return true;
            } else {
                alert("Your changes have already been submitted.");
                return false;
            }
        }

        //  End script hiding -->
    </SCRIPT>
    <SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
        <!--
        Hide
        JavaScript
        from
        older
        browsers

        //  Function to open a window
        function windowOpen(window_url) {
            helpWin = window.open(window_url, '', 'toolbar=yes,status=no,scrollbars=yes,menubar=yes,resizable=yes,directories=no,location=no,width=350,height=400');
            if (document.images) {
                if (helpWin) helpWin.focus()
            }
        }

        //  End script hiding -->
    </SCRIPT>
</HEAD>
<BODY>
<DIV class="headerwrapperdiv">
    <DIV class="pageheaderdiv1">
        <A HREF="#main_content" onMouseover="window.status='Go to Main Content'; return true"
           onMouseout="window.status=''; return true" OnFocus="window.status='Go to Main Content'; return true"
           onBlur="window.status=''; return true" class="skiplinks">Go to Main Content</A>
        <H1>Istanbul Teknik Universitesi</H1></DIV>
    <DIV class="headerlinksdiv">
<SPAN class="pageheaderlinks2">
<MAP NAME="Module_Navigation_Links_H" title="Module Navigation Links">
<p>
<A HREF="#skip_Module_Navigation_Links_H" onMouseover="window.status='Skip Module Navigation Links'; return true"
   onMouseout="window.status=''; return true" onFocus="window.status='Skip Module Navigation Links'; return true"
   onBlur="window.status=''; return true" class="skiplinks">Skip Module Navigation Links</A>
<TABLE CLASS="plaintable" SUMMARY="This is main table for displaying Tab Items."
       WIDTH="100%" cellSpacing=0 cellPadding=0 border=0>
<TR>
<TD CLASS="pldefault">
<TABLE CLASS="plaintable" SUMMARY="This table displays Tab Items."
       cellSpacing=0 cellPadding=0 border=0>
<TR>
<td class=taboff height=22>
<A HREF="/" onMouseover="window.status='Personal Information'; return true" onMouseout="window.status=''; return true"
   onFocus="window.status='Personal Information'; return true"
   onBlur="window.status=''; return true">Kisisel Bilgiler</A>
</TD>
<TD class=bgtaboff height=22 vAlign=top align=right>
<IMG SRC="http://ssb.sis.itu.edu.tr:9000/wtlgifs/web_tab_corner_right.gif" ALT="Tab Corner Right" CLASS="headerImg"
     TITLE="Tab Corner Right" NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class=tabon height=22>
<A HREF="#" onMouseover="window.status='Student Services & Financial Aid'; return true"
   onMouseout="window.status=''; return true" onFocus="window.status='Student Services & Financial Aid'; return true"
   onBlur="window.status=''; return true">Ögrenci Servisi</A>
</TD>
<TD class=bgtabon height=22 vAlign=top align=right>
<IMG SRC="http://ssb.sis.itu.edu.tr:9000/wtlgifs/web_tab_corner_right.gif" ALT="Tab Corner Right" CLASS="headerImg"
     TITLE="Tab Corner Right" NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
</TR>
</TABLE>
</TD>
</TR>
<TR>
<TD class=bgtabon width="100%" colSpan=2><IMG SRC="http://ssb.sis.itu.edu.tr:9000/wtlgifs/web_transparent.gif"
                                              ALT="Transparent Image" CLASS="headerImg" TITLE="Transparent Image"
                                              NAME="web_transparent" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=3 WIDTH=10></TD></TR></TABLE>
</MAP>
</SPAN>
        <a name="skip_Module_Navigation_Links_H"></a>
    </DIV>
    <TABLE CLASS="plaintable" SUMMARY="This table displays Menu Items and Banner Search textbox."
           WIDTH="100%">
        <TR>
            <TD CLASS="pldefault">
                <DIV class="headerlinksdiv2">
                    <FORM ACTION="#" METHOD="POST">
                        Search
                        <SPAN class=fieldlabeltextinvisible><LABEL for=keyword_in_id><SPAN
                                class=fieldlabeltext>Search</SPAN></LABEL></SPAN>
                        <INPUT TYPE="text" NAME="KEYWRD_IN" SIZE="20" MAXLENGTH="65" ID="keyword_in_id">
                        <INPUT TYPE="submit" VALUE="Go">
                    </FORM>
                </div>
            </TD>
            <TD CLASS="pldefault"><p class="rightaligntext">
<SPAN class="pageheaderlinks">
<A HREF="#" class="submenulinktext2" id="ssbbackurl">RETURN TO MENU</A>
|
<A HREF="#" accesskey="2" class="submenulinktext2">SITE MAP</A>
|
<A HREF="#" accesskey="H"
   onClick="popup = window.open('http://ssb.sis.itu.edu.tr:9000/pls/PROD/twbkfrmt.P_DispHelp?pagename_in=bwskfreg.P_AddDropCrse', 'PopupPage','height=450,width=500,scrollbars=yes,resizable=yes'); return false"
   target="_blank" onMouseOver="window.status='';  return true" onMouseOut="window.status=''; return true"
   onFocus="window.status='';  return true" onBlur="window.status=''; return true" class="submenulinktext2">HELP</A>
|
<A HREF="#" accesskey="3" class="submenulinktext2">EXIT</A>
</span>
            </TD>
        </TR>
    </TABLE>
</DIV>
<DIV class="pagetitlediv">
    <TABLE CLASS="plaintable" SUMMARY="This table displays title and static header displays."
           WIDTH="100%">
        <TR>
            <TD CLASS="pldefault">
                <H2>Add/Drop Classes: </H2>
            </TD>
            <TD CLASS="pldefault">
                &nbsp;
            </TD>
            <TD CLASS="pldefault"><p class="rightaligntext">
                <DIV class="staticheaders">
                    2018-2019 / Bahar<br>
                    Jan 28, 2019 02:22 pm<br>
                </div>
            </TD>
        </TR>
        <TR>
            <TD class="bg3" width="100%" colSpan=3><IMG SRC="http://ssb.sis.itu.edu.tr:9000/wtlgifs/web_transparent.gif"
                                                        ALT="Transparent Image" CLASS="headerImg"
                                                        TITLE="Transparent Image" NAME="web_transparent" HSPACE=0
                                                        VSPACE=0 BORDER=0 HEIGHT=3 WIDTH=10></TD>
        </TR>
    </TABLE>
    <a name="main_content"></a>
</DIV>
<DIV class="pagebodydiv">
    <!--  ** END OF twbkwbis.P_OpenDoc **  -->
    <BR>
    <FORM ACTION="#" METHOD="POST" onSubmit="return checkSubmit()">
        <DIV class="infotextdiv">
            <TABLE CLASS="infotexttable"
                   SUMMARY="This layout table contains information that may be helpful in understanding the content and functionality of this page.  It could be a brief set of instructions, a description of error messages, or other special information.">
                <TR>
                    <TD CLASS="indefault"><IMG SRC="http://ssb.sis.itu.edu.tr:9000/wtlgifs/twgginfo.gif"
                                               ALT="Information" CLASS="headerImg" TITLE="Information" NAME="Info"
                                               HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=24 WIDTH=27></TD>
                    <TD CLASS="indefault"><SPAN class=infotext> Use this interface to add or drop classes for the selected term.  If you have already registered for the term, those classes will appear in the Class Registered Successfully section. Additional classes may be added in the Add Class table. To add a class enter the Course Reference Number (CRN) in the Add Class table. Classes may be dropped by using the options available in the Action field.  If no options are listed in the Action field then the class may not be dropped. When add/drops are complete click Submit Changes.<p>If you are unsure of which classes to add, click Class Search to review the class schedule.</SPAN>
                    </TD>
                </TR>
            </TABLE>
            <P></DIV>
        <INPUT TYPE="hidden" NAME="term_in" VALUE="201920">
        <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="CRN_IN" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="start_date_in" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="end_date_in" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="SUBJ" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="CRSE" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="SEC" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="LEVL" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="CRED" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="GMOD" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="TITLE" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="MESG" VALUE="DUMMY">
        <INPUT TYPE="hidden" NAME="REG_BTN" VALUE="DUMMY">
        <H3>Current Schedule</H3>
        <TABLE CLASS="datadisplaytable" SUMMARY="Current Schedule">
            <TR>
                <TH CLASS="ddheader" scope="col">Status</TH>
                <TH CLASS="ddheader" scope="col">Action</TH>
                <TH CLASS="ddheader" scope="col"><ACRONYM title="Course Reference Number">CRN</ACRONYM></TH>
                <TH CLASS="ddheader" scope="col"><ABBR title=Subject>Subj</ABBR></TH>
                <TH CLASS="ddheader" scope="col"><ABBR title=Course>Crse</ABBR></TH>
                <TH CLASS="ddheader" scope="col"><ABBR title=Section>Sec</ABBR></TH>
                <TH CLASS="ddheader" scope="col">Level</TH>
                <TH CLASS="ddheader" scope="col"><ABBR title="Credit Hours">Cred</ABBR></TH>
                <TH CLASS="ddheader" scope="col">Grade Mode</TH>
                <TH CLASS="ddheader" scope="col">Title</TH>
            </TR>
            <TR>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="MESG" VALUE="DUMMY">**Web Kaydi Oldu** on Jan 28, 2019
                </TD>
                <TD CLASS="dddefault">
                    <LABEL for=action_id1><SPAN class=fieldlabeltextinvisible>Action</SPAN></LABEL>
                    <SELECT NAME="RSTS_IN" SIZE="1" ID="action_id1">
                        <OPTION VALUE="" SELECTED>None
                        <OPTION VALUE="DW">Ders Degistirme - Web
                    </SELECT>
                </TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="201920"><INPUT TYPE="hidden"
                                                                                                      NAME="CRN_IN"
                                                                                                      VALUE="22183">22183<INPUT
                        TYPE="hidden" NAME="start_date_in" VALUE="28/01/2019"><INPUT TYPE="hidden" NAME="end_date_in"
                                                                                     VALUE="17/05/2019"></TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="SUBJ" VALUE="MAK">MAK</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="CRSE" VALUE="492">492</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="SEC" VALUE="1">1</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="LEVL" VALUE="Lisans Ögrencisi">Lisans Ögrencisi</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="CRED" VALUE="    3.000"> 3.000</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="GMOD" VALUE="Standart Harf">Standart Harf</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="TITLE" VALUE="Bitirme Tasarim Projesi">Bitirme Tasarim
                    Projesi
                </TD>
            </TR>
            <TR>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="MESG" VALUE="DUMMY">**Web Kaydi Oldu** on Jan 28, 2019
                </TD>
                <TD CLASS="dddefault">
                    <LABEL for=action_id2><SPAN class=fieldlabeltextinvisible>Action</SPAN></LABEL>
                    <SELECT NAME="RSTS_IN" SIZE="1" ID="action_id2">
                        <OPTION VALUE="" SELECTED>None
                        <OPTION VALUE="DW">Ders Degistirme - Web
                    </SELECT>
                </TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="201920"><INPUT TYPE="hidden"
                                                                                                      NAME="CRN_IN"
                                                                                                      VALUE="22170">22170<INPUT
                        TYPE="hidden" NAME="start_date_in" VALUE="28/01/2019"><INPUT TYPE="hidden" NAME="end_date_in"
                                                                                     VALUE="17/05/2019"></TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="SUBJ" VALUE="MAK">MAK</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="CRSE" VALUE="360">360</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="SEC" VALUE="2">2</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="LEVL" VALUE="Lisans Ögrencisi">Lisans Ögrencisi</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="CRED" VALUE="    2.000"> 2.000</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="GMOD" VALUE="Standart Harf">Standart Harf</TD>
                <TD CLASS="dddefault"><INPUT TYPE="hidden" NAME="TITLE" VALUE="Uygulamali Termodinamik">Uygulamali
                    Termodinamik
                </TD>
            </TR>
        </TABLE>
        <BR>
        <TABLE CLASS="plaintable" SUMMARY="Schedule Summary">
            <TR>
                <TD CLASS="pldefault">Total Credit Hours:</TD>
                <TD CLASS="pldefault"> 5.000</TD>
            </TR>
            <TR>
                <TD CLASS="pldefault">Billing Hours:</TD>
                <TD CLASS="pldefault"> 5.000</TD>
            </TR>
            <TR>
                <TD CLASS="pldefault">Minimum Hours:</TD>
                <TD CLASS="pldefault"> 0.000</TD>
            </TR>
            <TR>
                <TD CLASS="pldefault">Maximum Hours:</TD>
                <TD CLASS="pldefault"> 25.000</TD>
            </TR>
            <TR>
                <TD CLASS="pldefault">Date:</TD>
                <TD CLASS="pldefault">Jan 28, 2019 02:22 pm</TD>
            </TR>
        </TABLE>
        <BR>
        <TABLE CLASS="plaintable" summary="This layout table holds message information">
            <TR>
                <TD CLASS="pldefault">
                    <IMG SRC="http://ssb.sis.itu.edu.tr:9000/wtlgifs/web_stop_cascade.png" ALT="Stop" CLASS="headerImg"
                         TITLE="Stop" NAME="web_stop" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=13 WIDTH=13>
                </TD>
                <TD CLASS="pldefault">
                    <SPAN class=errortext>Registration Add Errors</SPAN>
                    <BR>
                </TD>
            </TR>
        </TABLE>
        <TABLE CLASS="datadisplaytable" SUMMARY="This layout table is used to present Registration Errors.">
            <TR>
                <TH CLASS="ddheader" scope="col">Status</TH>
                <TH CLASS="ddheader" scope="col"><ACRONYM title="Course Reference Number">CRN</ACRONYM></TH>
                <TH CLASS="ddheader" scope="col"><ABBR title=Subject>Subj</ABBR></TH>
                <TH CLASS="ddheader" scope="col"><ABBR title=Course>Crse</ABBR></TH>
                <TH CLASS="ddheader" scope="col"><ABBR title=Section>Sec</ABBR></TH>
                <TH CLASS="ddheader" scope="col">Level</TH>
                <TH CLASS="ddheader" scope="col"><ABBR title="Credit Hours">Cred</ABBR></TH>
                <TH CLASS="ddheader" scope="col">Grade Mode</TH>
                <TH CLASS="ddheader" scope="col">Title</TH>
            </TR>
            <TR>
                <TD CLASS="dddefault">Bölüm Kisitlamasi</TD>
                <TD CLASS="dddefault">25217</TD>
                <TD CLASS="dddefault">MAK</TD>
                <TD CLASS="dddefault">402E</TD>
                <TD CLASS="dddefault">1</TD>
                <TD CLASS="dddefault">Lisans Ögrencisi</TD>
                <TD CLASS="dddefault"> 1.000</TD>
                <TD CLASS="dddefault">Standart Harf</TD>
                <TD CLASS="dddefault">Mechanical Engineering Lab. II</TD>
            </TR>
        </TABLE>
        <BR>
        <H3>Add Classes Worksheet</H3>
        <TABLE CLASS="dataentrytable" SUMMARY="Add Classes Data Entry" WIDTH="100%">
            <TR>
                <TD COLSPAN="10" CLASS="detitle" scope="colgroup"><ACRONYM
                        title="Course Reference Numbers">CRNs</ACRONYM></TD>
            </TR>
            <TR>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id1><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id1">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id2><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id2">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id3><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id3">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id4><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id4">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id5><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id5">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id6><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id6">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id7><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id7">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id8><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id8">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id9><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id9">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
                <TD CLASS="dedefault">
                    <INPUT TYPE="hidden" NAME="RSTS_IN" VALUE="RW">
                    <LABEL for=crn_id10><SPAN class=fieldlabeltextinvisible>CRN</SPAN></LABEL>
                    <INPUT TYPE="text" NAME="CRN_IN" SIZE="6" MAXLENGTH="5" ID="crn_id10">
                    <INPUT TYPE="hidden" NAME="assoc_term_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="start_date_in" VALUE="">
                    <INPUT TYPE="hidden" NAME="end_date_in" VALUE="">
                </TD>
        </TABLE>
        <INPUT TYPE="hidden" NAME="regs_row" VALUE="2">
        <INPUT TYPE="hidden" NAME="wait_row" VALUE="0">
        <INPUT TYPE="hidden" NAME="add_row" VALUE="10">

        <BR>
        <INPUT TYPE="submit" NAME="REG_BTN" VALUE="Submit Changes">
        <INPUT TYPE="submit" NAME="REG_BTN" VALUE="Class Search">
        <INPUT TYPE="reset" VALUE="Reset">
    </FORM>

    <!--  ** START OF twbkwbis.P_CloseDoc **  -->
    <TABLE CLASS="plaintable" SUMMARY="This is table displays line separator at end of the page."
           WIDTH="100%" cellSpacing=0 cellPadding=0 border=0>
        <TR>
            <TD class=bgtabon width="100%" colSpan=2><IMG
                    SRC="http://ssb.sis.itu.edu.tr:9000/wtlgifs/web_transparent.gif" ALT="Transparent Image"
                    CLASS="headerImg" TITLE="Transparent Image" NAME="web_transparent" HSPACE=0 VSPACE=0 BORDER=0
                    HEIGHT=3 WIDTH=10></TD>
        </TR>
    </TABLE>
    <A HREF="#top" onMouseover="window.status='Skip to top of page'; return true"
       onMouseout="window.status=''; return true" OnFocus="window.status='Skip to top of page'; return true"
       onBlur="window.status=''; return true" class="skiplinks">Skip to top of page</A>
</DIV>
<DIV class="pagefooterdiv">
    <SPAN class="releasetext">Release: 8.4</SPAN>
</DIV>
<DIV class="poweredbydiv">
</DIV>
<DIV class="div1"></DIV>
<DIV class="div2"></DIV>
<DIV class="div3"></DIV>
<DIV class="div4"></DIV>
<DIV class="div5"></DIV>
<DIV class="div6"></DIV>
</BODY>
</HTML>