{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Signup | ITU Scheduler{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 card-bg">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-primary">Sign Up!</button>
                </form>
                <div style="margin: 20px 0;" class="row">
                    <div class="col-md-6">
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span> Sign in with Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
